global
    log stdout format raw local0
    maxconn 2000

defaults
    log global
    mode tcp
    option tcplog
    timeout connect 10s
    timeout client 1m
    timeout server 1m

frontend mariadb_frontend
    bind *:3306
    default_backend galera_backend

backend galera_backend
    balance roundrobin
    option tcp-check
    server db-node-1 db-node-1:3306 check
    server db-node-2 db-node-2:3306 check
    server db-node-3 db-node-3:3306 check
