[mysqld]

bind-address=0.0.0.0

wsrep_on=ON
wsrep_provider=/usr/lib/galera/libgalera_smm.so

wsrep_cluster_name=suitecrm_galera_cluster
wsrep_cluster_address=gcomm://db-node-1,db-node-2,db-node-3

wsrep_node_address=192.168.2.13
wsrep_node_name=db-node-3

wsrep_sst_method=rsync

wsrep_provider_options="gmcast.listen_addr=tcp://0.0.0.0:4567"

binlog_format=ROW
default_storage_engine=InnoDB
innodb_autoinc_lock_mode=2

skip-name-resolve